body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 90%;
  margin: 10px auto;
  border: 1px solid gainsboro;
  border-radius: 3px;
  box-shadow: -2px -2px 2px 0px gainsboro;
}
.btn {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
  margin: 1rem;
}
.table {
  border-top: solid rgb(198, 192, 192) 0.1rem;

}
